body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Roboto;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   overflow-x: hidden;
   padding: 0;
}
@font-face {
   font-family: "Roboto";
   src: url('../fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
   font-family: "Material Icons";
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   direction: ltr;
   display: inline-block;
   font-family: "Material Icons";
   font-feature-settings: "liga";
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   letter-spacing: normal;
   line-height: 1;
   text-rendering: optimizeLegibility;
   text-transform: none;
   white-space: nowrap;
   word-wrap: normal;
}
a.link {
   -moz-transition: all 200ms linear;
   -webkit-transition: all 200ms linear;
   color: #FFFFFF;
   display: inline-block;
   position: relative;
   text-decoration: none;
   transition: all 200ms linear;
}
a.link::after {
   -moz-transition: all 200ms linear;
   -webkit-transition: all 200ms linear;
   background: transparent;
   content: "";
   display: block;
   height: 2px;
   margin-top: 2px;
   transition: all 200ms linear;
   width: 0;
}
a.link:hover::after {
   background: #F0E68C;
   width: 100%;
}
#i_nav_navbar {
   -moz-box-sizing: border-box;
   background-color: #2D2D2D;
   background-image: none;
   box-sizing: border-box;
}
#wb_LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0px 0px 0px;
}
#LayoutGrid1 .row {
   margin-left: 0;
   margin-right: 0;
}
#LayoutGrid1 > .row > .col-1,
#LayoutGrid1 > .row > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 0px;
   padding-right: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1,
#LayoutGrid1 > .row > .col-2 {
   float: left;
}
#LayoutGrid1 > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 16.66666667%;
}
#LayoutGrid1 > .row > .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 83.33333333%;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
   clear: both;
}
@media (max-width: 0px) {
#LayoutGrid1 > .row > .col-1,
#LayoutGrid1 > .row > .col-2 {
   float: none;
   width: 100%;
}
}
#wb_i_fxb_sidebar {
   background-color: #2D2D2D;
   background-image: none;
   border: 0px transparent solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
#i_fxb_sidebar {
   -moz-box-sizing: border-box;
   -webkit-align-content: flex-start;
   -webkit-align-items: flex-start;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   -webkit-justify-content: center;
   align-content: flex-start;
   align-items: flex-start;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   max-width: 280px;
   min-height: 100vh;
   padding: 50px 0px 0px 0px;
}
#wb_i_img_profile {
   -webkit-align-self: auto;
   -webkit-flex-grow: 0;
   -webkit-flex-shrink: 0;
   align-self: auto;
   flex-grow: 0;
   flex-shrink: 0;
   vertical-align: top;
}
#i_img_profile {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-radius: 100px;
   box-sizing: border-box;
   display: inline-block;
   height: auto;
   padding: 0px 0px 0px 0px;
   width: 200px;
}
#wb_i_txt_home {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_home div {
   text-align: left;
}
#wb_i_lyt_home {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_home {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 25px 0px 15px 0px;
}
#i_lyt_home > .col-1,
#i_lyt_home > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_home > .col-1,
#i_lyt_home > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_home > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 25%;
   max-width: 25%;
   text-align: left;
}
#i_lyt_home > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 75%;
   max-width: 75%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_home > .col-1,
#i_lyt_home > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_ico_home {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_home:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_home {
   height: 22px;
   width: 22px;
}
#i_ico_home i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_i_ico_home:hover i {
   color: #FFFFFF;
}
#wb_i_lyt_appoimtments {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_appoimtments {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 15px 0px 15px 0px;
}
#i_lyt_appoimtments > .col-1,
#i_lyt_appoimtments > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_appoimtments > .col-1,
#i_lyt_appoimtments > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_appoimtments > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 25%;
   max-width: 25%;
   text-align: left;
}
#i_lyt_appoimtments > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 75%;
   max-width: 75%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_appoimtments > .col-1,
#i_lyt_appoimtments > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_txt_appoimtments {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_appoimtments div {
   text-align: left;
}
#wb_i_ico_appoimtments {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_appoimtments:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_appoimtments {
   height: 22px;
   width: 22px;
}
#i_ico_appoimtments i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_i_ico_appoimtments:hover i {
   color: #FFFFFF;
}
#wb_i_lyt_notification {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_notification {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 15px 0px 15px 0px;
}
#i_lyt_notification > .col-1,
#i_lyt_notification > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_notification > .col-1,
#i_lyt_notification > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_notification > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 25%;
   max-width: 25%;
   text-align: left;
}
#i_lyt_notification > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 75%;
   max-width: 75%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_notification > .col-1,
#i_lyt_notification > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_txt_notification {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_notification div {
   text-align: left;
}
#wb_i_ico_notification {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_notification:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_notification {
   height: 22px;
   width: 22px;
}
#i_ico_notification i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_i_ico_notification:hover i {
   color: #FFFFFF;
}
#wb_i_lyt_feedback {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_feedback {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 15px 0px 15px 0px;
}
#i_lyt_feedback > .col-1,
#i_lyt_feedback > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_feedback > .col-1,
#i_lyt_feedback > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_feedback > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 25%;
   max-width: 25%;
   text-align: left;
}
#i_lyt_feedback > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 75%;
   max-width: 75%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_feedback > .col-1,
#i_lyt_feedback > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_txt_feedback {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_feedback div {
   text-align: left;
}
#wb_i_ico_feedback {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_feedback:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_feedback {
   height: 22px;
   width: 22px;
}
#i_ico_feedback i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_i_ico_feedback:hover i {
   color: #FFFFFF;
}
#wb_i_lyt_surveyors {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_surveyors {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 15px 0px 15px 0px;
}
#i_lyt_surveyors > .col-1,
#i_lyt_surveyors > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_surveyors > .col-1,
#i_lyt_surveyors > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_surveyors > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 25%;
   max-width: 25%;
   text-align: left;
}
#i_lyt_surveyors > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 75%;
   max-width: 75%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_surveyors > .col-1,
#i_lyt_surveyors > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_txt_surveyors {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_surveyors div {
   text-align: left;
}
#wb_i_ico_surveyors {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_surveyors:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_surveyors {
   height: 22px;
   width: 22px;
}
#i_ico_surveyors i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_i_ico_surveyors:hover i {
   color: #FFFFFF;
}
#i_img_logout {
   border: 0px #000000 solid;
   height: 100%;
   left: 0;
   padding: 0px 0px 0px 0px;
   top: 0;
   width: 100%;
}
#wb_i_txt_logo {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_logo div {
   text-align: left;
}
#wb_i_lyt_statistics {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_statistics {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 70px 20px 20px 20px;
}
#i_lyt_statistics .row {
   margin-left: -20px;
   margin-right: -20px;
}
#i_lyt_statistics > .row > .col-1,
#i_lyt_statistics > .row > .col-2,
#i_lyt_statistics > .row > .col-3,
#i_lyt_statistics > .row > .col-4 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 20px;
   padding-right: 20px;
   position: relative;
}
#i_lyt_statistics > .row > .col-1,
#i_lyt_statistics > .row > .col-2,
#i_lyt_statistics > .row > .col-3,
#i_lyt_statistics > .row > .col-4 {
   float: left;
}
#i_lyt_statistics > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 25%;
}
#i_lyt_statistics > .row > .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 25%;
}
#i_lyt_statistics > .row > .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 25%;
}
#i_lyt_statistics > .row > .col-4 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 25%;
}
#i_lyt_statistics:before,
#i_lyt_statistics:after,
#i_lyt_statistics .row:before,
#i_lyt_statistics .row:after {
   content: " ";
   display: table;
}
#i_lyt_statistics:after,
#i_lyt_statistics .row:after {
   clear: both;
}
@media (max-width: 0px) {
#i_lyt_statistics > .row > .col-1,
#i_lyt_statistics > .row > .col-2,
#i_lyt_statistics > .row > .col-3,
#i_lyt_statistics > .row > .col-4 {
   float: none;
   width: 100%;
}
}
#i_fxb_users {
   -moz-box-sizing: border-box;
   -webkit-align-content: flex-start;
   -webkit-align-items: center;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   align-content: flex-start;
   align-items: center;
   background-color: #008B8B;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   height: 109px;
   justify-content: flex-start;
   padding: 10px 10px 10px 10px;
}
#FlexBoxContainer3 {
   -moz-box-sizing: border-box;
   -webkit-align-content: flex-start;
   -webkit-align-items: center;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   align-content: flex-start;
   align-items: center;
   background-color: #C71585;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   height: 109px;
   justify-content: space-around;
   padding: 10px 10px 10px 10px;
}
#FlexBoxContainer4 {
   -moz-box-sizing: border-box;
   -webkit-align-content: flex-start;
   -webkit-align-items: center;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   align-content: flex-start;
   align-items: center;
   background-color: #D2691E;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   height: 109px;
   justify-content: space-around;
   padding: 10px 10px 10px 10px;
}
#FlexBoxContainer5 {
   -moz-box-sizing: border-box;
   -webkit-align-content: flex-start;
   -webkit-align-items: center;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   align-content: flex-start;
   align-items: center;
   background-color: #A52A2A;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   height: 109px;
   justify-content: space-around;
   padding: 10px 10px 10px 10px;
}
#wb_i_ico_stat_users {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_stat_users:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_stat_users {
   height: 54px;
   width: 54px;
}
#i_ico_stat_users i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
   width: 53px;
}
#wb_i_ico_stat_users:hover i {
   color: #FFFFFF;
}
#wb_i_txl_stat_users {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txl_stat_users div {
   text-align: left;
}
#wb_i_lyt_stat_users {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_stat_users {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0px 0px 0px;
}
#i_lyt_stat_users > .col-1,
#i_lyt_stat_users > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_stat_users > .col-1,
#i_lyt_stat_users > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_stat_users > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   text-align: left;
}
#i_lyt_stat_users > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_stat_users > .col-1,
#i_lyt_stat_users > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_txt_stat_users {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_stat_users div {
   text-align: left;
}
#wb_i_lyt_stat_notification {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#i_lyt_stat_notification {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -webkit-flex-direction: row;
   -webkit-flex-wrap: wrap;
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0px 0px 0px;
}
#i_lyt_stat_notification > .col-1,
#i_lyt_stat_notification > .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
}
#i_lyt_stat_notification > .col-1,
#i_lyt_stat_notification > .col-2 {
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#i_lyt_stat_notification > .col-1 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   text-align: left;
}
#i_lyt_stat_notification > .col-2 {
   -webkit-align-self: center;
   align-self: center;
   background-color: transparent;
   background-image: none;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   text-align: left;
}
@media (max-width: 0px) {
#i_lyt_stat_notification > .col-1,
#i_lyt_stat_notification > .col-2 {
   -webkit-flex-basis: 100%  !important;
   flex-basis: 100%  !important;
   max-width: 100%  !important;
}
}
#wb_i_ico_stat_notifications {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
   padding: 0px 0px 0px 0px;
   text-align: center;
   vertical-align: top;
}
#wb_i_ico_stat_notifications:hover {
   background-color: transparent;
   background-image: none;
   border: 0px #245580 solid;
}
#i_ico_stat_notifications {
   height: 54px;
   width: 54px;
}
#i_ico_stat_notifications i {
   color: #FFFFFF;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
   width: 53px;
}
#wb_i_ico_stat_notifications:hover i {
   color: #FFFFFF;
}
#wb_i_txl_stat_notifications {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txl_stat_notifications div {
   text-align: left;
}
#wb_i_txt_stat_notifications {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_i_txt_stat_notifications div {
   text-align: left;
}
#wb_uid1 {
   border-width: 0;
   left: 257px;
   position: absolute;
   top: 541px;
   z-index: 250;
}
#wb_uid2 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 13px;
}
#wb_uid3 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 13px;
}
#wb_uid4 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 13px;
}
#wb_i_ico_stat_notifications {
   display: inline-block;
   height: 54px;
   text-align: center;
   width: 54px;
   z-index: 24;
}
#wb_uid5 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 13px;
}
#wb_i_img_profile {
   display: inline-block;
   width: 200px;
   z-index: 12;
}
#wb_uid6 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 13px;
}
#wb_uid7 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 17px;
}
#wb_i_ico_stat_users {
   display: inline-block;
   height: 54px;
   text-align: center;
   width: 54px;
   z-index: 19;
}
#wb_uid8 {
   color: #FFFF00;
   font-family: Roboto;
   font-size: 24px;
}
#wb_uid10 {
   color: #FFFF00;
   font-family: Roboto;
   font-size: 24px;
}
#wb_uid9 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 17px;
}
#wb_i_img_logout {
   height: 20px;
   left: 1219px;
   position: absolute;
   top: 15px;
   width: 20px;
   z-index: 0;
}
#i_nav_navbar {
   height: 50px;
   left: 0px;
   position: absolute;
   text-align: left;
   top: 0px;
   width: 100%;
   z-index: 87;
}
#wb_i_ico_appoimtments {
   display: inline-block;
   height: 22px;
   text-align: center;
   width: 22px;
   z-index: 4;
}
#wb_i_ico_feedback {
   display: inline-block;
   height: 22px;
   text-align: center;
   width: 22px;
   z-index: 10;
}
#wb_i_ico_home {
   display: inline-block;
   height: 22px;
   text-align: center;
   width: 22px;
   z-index: 2;
}
#wb_i_ico_notification {
   display: inline-block;
   height: 22px;
   text-align: center;
   width: 22px;
   z-index: 6;
}
#wb_i_ico_surveyors {
   display: inline-block;
   height: 22px;
   text-align: center;
   width: 22px;
   z-index: 8;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 20px;
}
#wb_i_txt_logo {
   height: 26px;
   left: 18px;
   position: absolute;
   top: 12px;
   width: 239px;
   z-index: 1;
}
